a {
    text-decoration: none;
    font-weight: bold;
    color: #b97100;
}
.hd {
    display: block;
    font-size: 13px;
}
.js {
    display: block;
    font-size: 15px;
    color: grey;
    font-family: monospace;
}
