{% extends('base.html') %}

{% block content %}
<table class="tableD table-striped">
  <thead>
    <tr class="hheader">
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">e | s</th>
      <th scope="col">image</th>
      <th scope="col">desc</th>
      <th scope="col">ep | down date</th>
      <th scope="col">link</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <td class="asset_id">
        {{ row[0][0] }}
        <div class="sep"></div>
        <a href="raw/{{ row[0][1] }}"><span class="js">{{ row[0][1] }}</span></a>
      </td>
      <td class="title left">
        {{ row[1] }}
        <div class="sep"></div>
        <span class="runtime">({{ row[9] }})</span>
      </td>
      <td class="episode">
        E {{ row[2] }}<div class="sep"></div>S {{ row[3] }}
      </td>
      <td class="thumb">
        <img src="{{ row[5]|safe }}" alt="thumbnail">
      </td>
      <td class="desc left">
        {{ row[6] }}
      </td>
      <td class="date left">
        {{ row[4][0] }}<div class="sep"></div>{{ row[4][1] }}
      </td>
      <td class="links left {{ 'marked' if row[10] else '' }}">
        {% if row[7][0] is not none %}
          [R] <a href="{{ row[7][0] }}">{{ row[7][1] }}</a>
        {% else %}
          {{ row[7][1] }}
        {% endif %}

        {% if row[8][0] is not none %}
          <div class="sep"></div>[L] <a href="{{ row[8][0] }}">{{ row[8][1] }}</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}