{% extends('base.html.j2') %}

{% block content %}
<div class="d-flex justify-content-center">
    <p class="h2">
        Empty set
    </p>
</div>

<div class="d-flex justify-content-center">
    <img src="/static/gfx/sadface.png" width="300px">
</div>
{% endblock %}

