table {
    width: 100%;
}

table, tr, th, td {
    border: 1px solid #2a150d;
    text-align: center;
    border-spacing: 0px;
    padding: 3px 8px 3px 8px;
    word-wrap: break-word;
    vertical-align: middle;
}

td.title {
    width: 250px;
}

td.asset_id {
    width: 100px;
}

td.date {
    width: 180px;
}

td.episode {
    width: 90px;
}

td.desc {
    text-align: left;
}

td.links {
    width: 150px;
}

td.thumb {
    width: 150px;
}

tr {
    background-color: white;
    font-size: 17px;
}

tr.hheader {
    background-color: #80503d;
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-variant: small-caps;
}

td {
    padding: 9px;
}

.left {
    text-align: left;
}

.marked {
    background-color: #f9e1cd;
}