{% extends('base.html') %}

{% block content %}
<table class="tableD table-striped">
  <thead>
    <tr class="hheader">
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">e | s</th>
      <th scope="col">ep | down date</th>
      <th scope="col">image</th>
      <th scope="col">desc</th>
      <th scope="col">link</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td class="asset_id">{{ row[0][0] }}<div class="sep"></div>{{ row[0][1] }}</td>
      <td class="title">{{ row[1] }}</td>
      <td class="episode">{{ row[2] }}</td>
      <td class="thumb"><img src="{{ row[4]|safe }}" alt="thumbnail"></td>
      <td class="desc">{{ row[5] }}</td>
      <td class="date">{{ row[3][0] }}<div class="sep"></div>{{ row[3][1] }}</td>
      <td class="links">{{ row[6] }} <div class="sep"></div>[L] La122.mp4</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}