table {
    margin: 0 auto;
}
.table > thead > tr > th {
    vertical-align: middle;
    font-family: monospace;
    font-size: 14px;
    color: black;
}
.table > tbody > tr > td {
    vertical-align: middle;
    font-family: monospace;
}
th > a {
    color: black;
}
td, th {
    padding: 2px;
    vertical-align: middle;
}
tr.bg-card {
    background-color: #dffbf1;
}
td {
    text-align: left;
}
a {
    color: black;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
div.hs {
    margin: auto;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

div.hs.ok {
    background-image: url('/static/gfx/okk.png');
}
div.hs.error {
    background-image: url('/static/gfx/err.png'); 
}
div.hs.danger {
    background-image: url('/static/gfx/dan.png'); 
}
div.hs.zero {
    background-image: url('/static/gfx/na.png'); 
}
div.status {
    margin: auto;
    width: 50px;
    height: 50px;
    background-image: url('/static/gfx/status.gif');
    background-repeat: no-repeat;
}
.grey {
    background-position: 4px -67px;
}
.blue {
    background-position: -81px -67px;
}
.green {
    background-position: -162px -67px;
}
.orange {
    background-position: -243px -61px;
}
.red {
    background-position: -324px -67px;
}
div.card {
    width: 1320px;
    margin: 50px auto;
}
.center {
    margin: 0 auto;
    text-align: center;
}
.vcenter {
	align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
div.header {
    width: 1370px;
    height: 250px;
    margin: 0px auto;
}
div.logo {
    float: left;
    width: 720px;
    height: 270px;
    background-image: url(/static/gfx/Cyber-Security-PNG-Picture.png);
    background-repeat: no-repeat;
    background-size: cover;
}
div.title {
    float: right;
    width: 646px;
    height: 250px;
    color: #0b9f4d;
}
p.h2 {
    margin-top: 100px;
    font-size: 43px;
    font-weight: bold;
    text-shadow: 5px 5px 5px #9abfa6;
}
p.h3 {
    font-weight: bold;
    text-decoration: overline;
    font-family: monospace;
    font-size: 22px;
}